
/*

----- CONTENTS -----

 15 - DESKTOP
 38 - MOBILE

*/


// ----- DESKTOP ----- //


// --- BREAK 1 --- //
@media only screen and (max-width: 1500px) {

  .modal-images {
      img {width: 280px}
      }
}


// --- BREAK 2 --- //
@media only screen and (max-width: 1250px) {
    
    .modal-images {
        .img {display: none}
        .hidden {display: block}
    }

    #modal-content {
        width: 100%;
        padding: 20px 5px;
        
        p {
            line-height: 1.1;
            font-size:  16px;
        }

        a {
            line-height: 1.6;
            font-size:  16px;
        }
    }
}


// --- BREAK 3 --- //

@media only screen and (max-width: 1000px) {

  .header-content {height: 63vw}

  .header-text h1 { font-size: 3rem}

  h2 {font-size: 52px}

    #about {
      background: none;
      background-color: $background-about;
  }

  .about-text {
      width: 100%;
      padding: 80px 30px 60px;
  }
  

  .flex-skills {display: block}

  .skills-left {
      width:          100%;
      margin:            0;
      padding-bottom: 40px;

      p {
          font-size:  16px;
          font-weight: 200;
          line-height: 1.3;
      }
  }

  .skills .container {padding: 0 30px}
}


// --- BREAK 4 --- //

@media only screen and (max-width: 850px) {

  .logo-top {
      padding: 10px 0 0 23px;
      margin-left: auto;
      margin-right: auto;
      float: none;

      img {width: 120px}
  }

  .button {display: none}

  h3 {font-size: 18px}

  .container {padding: 0}

  .inner {padding: 0 20px}

  .portfolio-text {
      padding: 20px;
      width:   100%;

      a, h6, span {
          font-size:  18px;
          font-weight: 200;
      }
  }

  .portfolio-card {
      width:   100%;
      height: 130vw;
  }

  #vy-local {
      background: url('../images/desktop-small.png') bottom center no-repeat;
      background-color: $background-vy;
      -webkit-background-size: contain;
      -moz-background-size:    contain;
      -o-background-size:      contain;
      background-size:         contain;
  }

  #growthitude {
      background: url('../images/growthitude-small.png') bottom center no-repeat;
      background-color: $background-growth;
      -webkit-background-size: contain;
      -moz-background-size:    contain;
      -o-background-size:      contain;
      background-size:         contain;
  }

    #amazon {
      background: url('../images/amazon-small.png') bottom center no-repeat;
      background-color:  $background-projects;
      -webkit-background-size: contain;
      -moz-background-size:    contain;
      -o-background-size:      contain;
      background-size:         contain;
  }

  #projects {
      background: url('../images/projects-small.png') bottom center no-repeat;
      background-color: $background-growth;
      -webkit-background-size: contain;
      -moz-background-size:    contain;
      -o-background-size:      contain;
      background-size:         contain;
  }
}


// --- BREAK 5 --- //

@media only screen and (max-width: 760px) {

  .header-content {height: 66vw}

  .header-text h1 {font-size: 2.5rem}

  .portfolio-card {margin-bottom: 0}

  .social {
      padding: 20px 20px;
      max-width: 300px;
      margin: 0 auto;
      text-align: center;

      li {
          display:  inline;
          font-weight: 200;
          padding:    15px;
      }

      a, li {font-size: 14px}
  }

}


// --- BREAK 6 --- //

@media only screen and (max-width: 500px) {

  .header-content {height: 65vw}

  .header-text h1 {font-size: 2.2rem}

  h2 {font-size: 10vw}

  h5, a {
      font-size:   16px;
      line-height: 20px;
  }

  .outline {
    font-size:           12px;
    padding:        10px 20px;
  }

  #about {

      h3 {
          padding-bottom: 6px;
      }

      a:hover {
          -webkit-text-decoration-color: $hover;
          -moz-text-decoration-color:    $hover;
          text-decoration-color:         $hover;
      }

      p {
        font-weight: 200;
        line-height: 1.4;
        font-size:  16px;
      }
  }

  .email {
    padding: 0 50px;
    width:     100%;

    p,a {font-size: 14px}
  }


.close-button {
    width: 14px;
    height: auto;
}


.modal-main {
    max-width     : 80vw;
    max-height    : 90vh;
    padding: 18px 20px 0;

    h3 {margin-bottom: 16px}
}


.modal-images img {
        width: 240px;
        margin-bottom: 12px;
}

#modal-content {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 8px;
    p {
        line-height: 1;
        font-size:  14px;
    }
}
}


// ------ Break 7 ------ //

@media only screen and (max-width: 455px) {

  .header-content {height: 66vw}

  .header-text h1 {font-size: 2rem}

  .header-text h5 {font-size: 16px}

  .portfolio-text a, h6 {
      font-size:  16px;
      line-height: 1.3;
  }
}


// --- BREAK 8 --- //

@media only screen and (max-width: 350px) {

  .header-text h1 {font-size: 1.7rem}

  .portfolio-text a, h6 {
      font-size:  14px;
      line-height: 1.2;
  }

  .email {padding: 0 30px}
}
