/*
 MEDIA QUERIES
*/


/* -- BREAK 1 -- */

@media only screen and (max-width: 624px) {
    header li {
        height: 2px;
    }
    .card {
        max-width: 100%;
        border: none;
        margin: 0;
        margin-bottom: 48px;
    }
    .card:hover {
        transform: none;
    }
}