// --------------------------------------------------
// Utilitie Classes
// --------------------------------------------------


//--------------------------------
// Box-Shadow
//--------------------------------

.shadow {box-shadow: 0 4px 8px 0 rgba(99, 99, 99, 0.3), 0 6px 16px 0 rgba(99, 99, 99, 0.3)} 


//--------------------------------
// Text Utilities
//--------------------------------

.thin {font-weight: 300}

.center {text-align: center}

.muted {color: lighten($grey, 12)}

.hidden {display: none}

.visible {display: block}

