/* ---- BRAND --- */

$brand: rgba(67, 119, 198, 1.0);

/*  ---- BACKGROUNDS ---- */

$background:         rgba(255, 255, 255, 1.0);
$background-vy:        rgba(238, 239, 238, 1.0);
$background-growth:    rgba(21, 25, 33, 1.0);
$background-projects: rgba(238, 239, 238, 1.0);
$background-about:      rgba(245, 245, 245, 1.0);

/*  ---- FONTS ---- */

$grey-6:     rgba(6, 6, 6, 1.0);
$grey-10:     rgba(10, 10, 10, 1.0);
$grey-64:     rgba(64, 64, 64, 1.0);
$grey-107: rgba(107, 107, 107, 1.0);
$grey-169: rgba(167, 169, 173, 1.0);

$hover:    rgba(199, 199, 199, 1.0);
$about-p:  rgba(193, 199, 196, 1.0);
