.card {
    max-width: 300px;
    background-color: white;
    margin: 12px 6px;
    border: 1px solid #ddd;
    border-radius: 2px;
    z-index: 1;
    transition: all 0.5s ease;
    box-shadow: 0 4px 8px 0 $shadow, 0 6px 16px 0 $shadow;

    img {
        max-width: 100%;
        height: auto;
    }
}



.card-footer {
  height: auto;
  width: 100%;
  padding: 16px;
  margin-top: -2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;

  img {
    display: inline;
    max-width: 20px;
  }

.tag {display: inline}

  .description {
    margin: 6px 0 16px;
    flex-grow: 1;
  }

  a { 
    text-decoration: none;
    &:hover {text-decoration: underline}

    .username {
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 12px;
     }
  }
}

.parent{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.tag-row {
  align-self: flex-start;
  
}


.card:hover {
  z-index: 2;
  box-shadow: 1px 4px 8px 4px $shadow, 1px 6px 12px 4px $shadow;
}
