@import "normalise";
@import "colors";
@import "typography";
@import "buttons";
@import "cards";
@import "tags";
@import "topbar";
@import "media-queries";

body {
    background         : $background;
}

header {
    height             : 56px;
    width              : 100%;
    background         : $nav;
    border-bottom      : 1px solid #bbb;
    box-shadow         : 0 2px 6px -4px #999;
    position           : fixed;
    top                : 0;
    z-index            : 10;
}

// --- COLOURED BORDER TOP NAV --- //
header ul {
    width              : 100%;
    display            : flex;
    padding            : 0;
    margin             : 0;
    box-sizing         : border-box;
}

header li {
    height             : 4px;
    border             : none;
    padding            : 0;
    margin             : 0;
    width              : 16.6666%;
    display            : inline-block;
}

header li:nth-child(1) {
    background-color   : $red500;
}

header li:nth-child(2) {
    background-color   : $blue500;
}

header li:nth-child(3) {
    background-color   : $green500;
}

header li:nth-child(4) {
    background-color   : $orange500;
}

header li:nth-child(5) {
    background-color   : $purple500;
}

header li:nth-child(6) {
    background-color   : $yellow500;
}

// --- NAV INNER --- //
nav {
    max-width          : 960px;
    height             : 52px;
    margin             : 0 auto;
    display            : flex;
    justify-content    : center;
}

.logo {
    align-self         : center;
}


// --- CONTENT AREA --- //
main {
    min-height         : 100%;
    margin-bottom      : -32px;
}

main:after {
    display            : block;
}

section {
    width              : 100%;
    margin-top: 100px;
}

.about {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 $shadow, 0 6px 16px 0 $shadow;
    margin             : 140px auto 60px;
    max-width          : 940px;
    padding: 20px 20px 0;
    p {
        font-size: 1.4em;
    }
}
.content {
    margin             : 20px auto 140px;
    max-width          : 960px;
    display            : flex;
    flex-wrap          : wrap;
    justify-content    : space-around;
    align-items        : stretch;
    clear              : both;
}


// --- MODAL --- //
.modal {
    position           : fixed;
    z-index            : 100;
    display            : none;
}

.modal.closed {
    display            : flex;
}

.modal-bg {
    position           : inherit;
    width              : 100%;
    height             : 100%;
    top                : 0;
    background-color   : black;
    opacity            : 0.85;
    z-index            : 101;
}

.close-button {
    position           : inherit;
    top                : 16px;
    right              : 20px;
    z-index            : 102;
}

.modal-main {
    position           : inherit;
    top                : 50%;
    left               : 50%;
    transform          : translate(-50%, -50%);
    z-index            : 102;
    max-width          : 90vw;
    max-height         : 90vh;
}

.open-img {
    max-width          : 90vw;
    max-height         : 90vh;
}

// --- FOOTER --- //
footer,
main:after {
    height             : 32px;
}

footer {
    background         : $footer;
    display            : table;
    width              : 100%;
    text-align         : center;
}

.built {
    display            : table-cell;
    vertical-align     : middle;
    color: white;
}