@import "normalise";
@import "colors";
@import "typography";


header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
    max-width: 1400px;
    padding: 15px 30px;
}

.nav-logo img {width: 70px}

.nav-li {
    display: inline;
    padding: 30px;
}

.nav-link {
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: 600;

    &:hover {border-bottom: 2px solid white}

    &-active {
        border-bottom: 2px solid white;
        &:hover {border-bottom: 2px solid white}
    }
}

.mob-link {
    @extend .nav-link;
    color: black;
}

/*----------  Mobile Nav  ----------*/

.mobile-nav {
    background-color: $brand-menu;
    height: 100vh;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2;

    ul {
        list-style-type: none;
        padding-top: 50px;
    }

    li {
        padding: 10px 0;

        a {font-size: 2rem}
    }
}

.hamburger{
    border: 2px solid white;
    border-radius: 4px;
    padding: 4px 7px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 22;
}

.hidden, .hamburger {display: none}


.fa {
    color: white;
    cursor: pointer;
}

/*=====  End of Header / Nav  ======*/


main {
    background: url('../images/right.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: 100vh;
    width: 100vw;
}

.logo {
    margin: -90px auto auto 16%;
    position: absolute;
    top: 46%;
    
    &:before {
        color: grey;
        content: "08";
        font-size: 6rem;
        height: 45px;
        left: 50%;
        letter-spacing: -0.01em;
        line-height: 45px;
        margin-left: -380px;
        position: absolute;
        width: 45px;
    }
}

.dates {
    bottom: 130px;
    left: 50%;
    margin-left: -130px;
    position: absolute;

    &-li {
        display: inline;
        padding: 10px 5px;
        text-align: right;
    }
}

.dates:after {
    border-bottom: 1px solid black;
    content: " ";
    left: 180px;
    position: absolute;
    top: 7px;
    width: 150px;
}

.date {
    color: grey;
    font-size: 1.1rem;
    font-weight: 600;

    &-active, &:hover {color: black}
}

footer {
    bottom: 0;
    box-sizing: border-box;
    padding: 0 100px 40px;
    position: absolute;
    width: 100%;
}

.email {
    float: left;

    &-link {
        color: black;
        font-weight: 600;

        &:hover {color: grey}
    }
}

.social {
    color: white;
    float: right;
    font-size: 1rem;
    font-weight: 600;
}

.social-link {
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    &:hover {color:black;}
}

@import "media-queries";