//--------------------------------
// Buttons
//--------------------------------

.btn {
    border:     none;
    margin: 50px 0;
    background: none;
	color:     $text;
    font-size:  2rem;
    height:     50px;
    width:     300px;
	border-radius:        1px;
	transition: all 0.5s ease;

}


//--------------------------------
// Background Colors
//--------------------------------

.bg-brand {
    
    background: $brand;

    &:hover {background: darken($brand, 4)}

    &:active {
        background: darken($brand, 6);
        color:       darken($text, 2);
        transform:        scale(0.99);
        }
}
